/**
 * Site header
 */
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;
  overflow: hidden;
  // Positioning context for the mobile navigation icon
  position: relative;
  background:$grey-color-dark;
  &::after,&::before{
    content:'';
    display:block;
    width:35px;
    height: 35px;
    background:$background-color;
    border-radius: 50%  ;
    -webkit-border-radius: 50%  ;
    -moz-border-radius: 50%  ;
    -ms-border-radius: 50%  ;
    -o-border-radius: 50%  ;
    position: absolute;
    left: -10px;
    top:-10px;
  }
  &::before{
    left:unset;
    right:0px;
    bottom:-10px;
    top:unset;
  }

}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $background-color;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: 0 $spacing-unit 0 0;
  overflow: hidden;
}
.footer-bottom{
  padding-top:$spacing-unit;
  position: relative;
  &::after,&::before{
    content:'';
    display:block;
    width:25px;
    height: 25px;
    background:$grey-color-dark;
    border-radius: 50%  ;
    -webkit-border-radius: 50%  ;
    -moz-border-radius: 50%  ;
    -ms-border-radius: 50%  ;
    -o-border-radius: 50%  ;
    position: absolute;
    left: -10px;
    top:-10px;
  }
  &::before{
    left:unset;
    right:-20px;
    bottom:80px;
    top:unset;
  }

}
.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  width: 100%;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 0 0 $spacing-unit 0;
  flex: 1;
  min-height: 80vh;
}
.page-yoha {
  padding-top: $spacing-unit;
}
.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
  h3{
    position: relative;
    &::after{
      display: block;
      position: absolute;
      content:'';
      width:5px;
      height:5px;
      border-radius: 50%;
      background-color: $grey-color-light;
      left:-20px;
      top:50%;
      transform: translateY(-50%);
    }
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  padding-top:70px;
  padding-bottom: 30px;
  background: $grey-color-dark;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  color: #ffffff;
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);
    padding-top:20px;
    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);
    padding-top:20px;
    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
